table tr {
  height:200px;
  width: 200px;
  background-color: purple;
}

table {
  height: 500px;
  width: 500px;
  border: 5px solid black;
}
table td {
font-size: 40pt;
text-align: center;
width:40px;
height: 40px;

}

button {
  background: grey;
  border:  2px solid black;
  width: 200px;
  height: 50px;
  font-size: 18pt;

}

body {
  display: flex;
  align-items: flex-end;
}
